[user]
	email = bigyo.tseng@fourdesire.com
	name = bigyo-fourdesire
[alias]
	co = checkout
	br = branch

	# git push -u origin branch
	pushOrigin = ! git push -u origin $(! git branch | grep '^\\*' | cut -d' ' -f2)
	po = pushOrigin

	# branch name
	bn = ! echo $(! git branch | grep '^\\*' | cut -d' ' -f2)	
	ci = commit
	st = status
	lg = log --oneline --decorate --all --graph

	# list all alias
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /	

	# copy current branch name
	cp = ! git branch | grep '^\\*' | cut -d' ' -f2 | pbcopy		

	# git reset + git clean
	resetClean = ! git reset --hard && git clean -f
	rc = !git resetClean && git unhide-all

	# find all branches include string
	find = "!f() { git branch | grep ${1}; }; f"
	findelete = "!f() { git branch | grep ${1} | xargs git branch -d; }; f"

	# stash
	sl = stash list
	ls = stash list
	sa = stash apply
	ap = stash apply
	sd = stash drop
	spo = stash pop
	spu = stash push

	# temporary ignore files
	hide = update-index --assume-unchanged
	unhide = update-index --no-assume-unchanged
	unhide-all = !git ls-files -v | grep "^[a-z]" | cut -c 3- | xargs git unhide
	hidden = !git ls-files -v | grep \"^[a-z]\"
	ignored = !git status -s --ignored | grep \"^!!\"


[core]
	excludesfile = /Users/user/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
